<h1>TeilnehmerIn</h1>
<p>es müssen alle Felder ausgefüllt werden</p>

<% form_for(@user)  do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
  <%= recaptcha_tags %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= link_to "Zurück", "/" %>

