<h1>Teilnehmer</h1>
<p>es müssen alle Felder ausgefüllt werden</p>

<% form_for(@participant)  do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<%= recaptcha_tags %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= link_to "Zurück", "/" %>

