<fieldset>
  <legend>Story Beschreibung</legend>
	<p><%= f.label :name, "Name der Fotostory :" %><br /><%= f.text_field :name, :size => 42 %></p>
  	<p><%= f.label :description, "Beschreibung" %></p>
  	<p><%= f.text_area :description, :cols => 68, :rows => 10 %></p>
  <p>Bei der Beschreibung kann <a href="http://de.wikipedia.org/wiki/BBCode">BBCode</a> verwendet werden!</p>
</fieldset>