<h2>Fotostory: <%=h story.name %></h2>
<fieldset>
    <legend>Beschreibung: </legend>
<p>
  <%=h story.description %>
</p>
</fieldset>
<p>
<%= link_to "Story editieren", edit_story_url %> | <%= link_to "Einreichung hochladen", new_upload_item_url %>
</p>

