<h1>Fotostory</h1>
<p>es müssen alle Felder ausgef&uuml;llt werden!</p>

<% form_for(@story)  do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= link_to "Zurück", "/" %>